@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*  navbar   inicio*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}
.navbar.sticky{
     background: #00804b;
     padding: 15px 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.navbar .logo a span{
    color: #00804b;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #00804b;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/*  Home   inicio  */
.home{
    display: flex;
    background: url(image/banner.png) no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color:#00804b ;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
}
.home .home-content a:hover{
    color: #00804b;
    background: none;
}

/*  Menu  Mobile  */
.menu-btn{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    width: 41px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #00804b;
    border-radius: 6px;
    font-size: 30px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events:auto;
    
}

/*  todos os codigos similares  */
section{
    padding: 100px 0;
}
section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #00804b;
    padding: 5px;
    transform: translateX(-50%);
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Roboto', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*  sessão sobre  */

.about .title::after{
    content: "Quem sou eu";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #00804b;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #00804b;
    background: none;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}
/*  sessão serviços */
.services, .teams{
    background: #111;
    color: #fff;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "Que oferecemos";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #00804b;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card ion-icon{
    font-size: 70px;
    color: #00804b;
}
.services .serv-content .card:hover ion-icon{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/*  sessão especialidades  */
.skills .title::after{
    content: "Que faço";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: #00804b;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    width: 100%;
    height: 5px;
    background: #ccc;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #00804b;
}
.skills .skills-content .right .html::before{
    width: 93%;
}
.skills .skills-content .right .css::before{
    width: 85%;
}
.skills .skills-content .right .js::before{
    width: 87%;
}
.skills .skills-content .right .php::before{
    width: 47%;
}
.skills .skills-content .right .mysql::before{
    width: 42%;
}
/*  sessão equipe  */
.teams .title::after{
    content: "Especializada";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: #00804b;
}
.teams .carousel .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #00804b;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    width: 14px;
    height: 14px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #00804b!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 15px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #00804b!important;
}
/*  sessão Contato  */
.contact .title::after{
    content: "Fale conosco";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content{
    align-items: flex-start;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px
}
.contact .contact-content .row .info .head{
    font-weight: 500;
}
.contact .contact-content .row .info .sub-title{
    color: #333;
}
.contact .contact-content .row ion-icon{
    font-size: 25px;
    color: #00804b;
}
.contact .rigth form .fields{
    display: flex;
}
.contact .rigth form .field,
.contact .rigth form .fields .field{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}
.contact .rigth form .field input,
.contact .rigth form .textarea textarea{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Roboto',sans-serif;
}
.contact .rigth form .name{
    margin-right: 10px;
}
.contact .rigth form .email{
    margin-left: 10px;
}
.contact .rigth form .textarea{
    width: 100%;
    height: 80px;
}
.contact .rigth form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .rigth form .button{
    width: 170px;
    height: 47px;
}
.contact .rigth form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #00804b;
    background: #00804b;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .rigth form .button button:hover{
    color: #00804b;
    background: none;
}

/*  sessão footer  */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #00804b;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/*  responsivo  */
@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    footer{
        margin-top: 15px;
    }
}
@media (max-width: 690px){
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card {
        width:100%;
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}